[submodule "lib/tgbot-cpp"]
	path = lib/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
